* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gotham Pro", sans-serif;
}

body {
  background-color: rgb(23, 20, 34);
  padding-bottom: 244px;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

.normal-text {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  line-height: 140%;
}
.normal-text + .normal-text {
  margin-top: 16px;
}

.page-wrapper {
  background: rgb(175, 175, 175);
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  height: 100%;
}

.header {
  background: linear-gradient(132.59deg, rgb(158, 11, 55) 0.982%, rgb(255, 197, 49) 72.223%, rgb(158, 11, 55) 99.953%);
  padding: 15px 0px;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  gap: 43px;
}

.nav {
  display: flex;
  gap: 72px;
}
.nav-link {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 20px;
  text-decoration: none;
  font-family: "Abel", sans-serif;
  display: flex;
  align-items: flex-end;
  gap: 4px;
}
.nav-link__icon {
  width: 12px;
  height: 100%;
  transform: translateY(-25%);
}

.btn-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-icon-yellow {
  box-shadow: inset 1.91px 1.91px 2.87px 0px rgba(255, 255, 255, 0.5), 1.91px 1.91px 9.57px 0px rgb(223, 80, 23);
  background: linear-gradient(131.76deg, rgb(223, 80, 23) -2.3%, rgb(249, 203, 116) 104.391%);
}
.btn-transparent {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 150%;
  background-color: transparent;
  border: 0px;
}
.btn-red {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  line-height: 16px;
  padding: 24px 25px;
  border-radius: 40px;
  box-shadow: inset 4px 4px 6px 0px rgba(255, 255, 255, 0.5), 4px 4px 20px 0px rgba(223, 80, 23, 0.8);
  background: rgba(158, 11, 55, 0.7);
  width: 100%;
  max-width: 160px;
  border: none;
}

.main {
  height: 650px;
  background: linear-gradient(140.19deg, rgb(223, 80, 23) 2.56%, rgba(223, 80, 23, 0.44) 10.647%, rgba(223, 80, 23, 0.19) 22.487%, rgba(223, 80, 23, 0) 39.303%), linear-gradient(90deg, rgb(40, 37, 51) 55.153%, rgb(40, 37, 51) 55.156%, rgba(40, 37, 51, 0.74) 62.213%, rgba(40, 37, 51, 0) 100%);
  position: relative;
  display: flex;
  flex-direction: column;
}
.main__title {
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  line-height: 120%;
  text-transform: uppercase;
}
.main-content {
  flex: 1 1 auto;
}
.main-content-inner {
  display: flex;
  align-items: center;
  height: 100%;
}
.main-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.design {
  padding: 100px 0px 80px;
}
.design__number-item {
  margin-top: 28px;
}
.design__knowledge {
  margin-bottom: 80px;
}
.design__text {
  margin-top: 40px;
}
.design__alert {
  margin-bottom: 60px;
}
.design-inner {
  display: flex;
  gap: 20px;
}
.design-content {
  flex: 1 1 auto;
}
.design-sidebar {
  flex: 0 0 220px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-item {
  position: relative;
  height: 220px;
  width: 220px;
  border-radius: 20px;
  overflow: hidden;
}
.info-item__title {
  font-size: 9px;
  font-weight: 700;
  color: #fff;
  line-height: 140%;
}
.info-item__subtitle {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  line-height: 140%;
}
.info-item__bg {
  background: linear-gradient(180deg, rgba(23, 20, 34, 0.5), rgba(23, 20, 34, 0.9) 55.172%);
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
}
.info-item__info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-item__content {
  position: absolute;
  z-index: 2;
  bottom: 14px;
  display: flex;
  left: 6px;
  right: 6px;
  border: 1px solid #fff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alert {
  padding: 40px 40px;
  width: 100%;
  border-radius: 30px;
}
.alert-red {
  background: linear-gradient(135deg, rgb(255, 164, 98) 0%, rgb(180, 83, 80) 21.793%, rgb(138, 38, 69) 48.927%, rgb(41, 23, 37) 84.552%);
}

.number-item {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
.number-item-value {
  font-size: 183px;
  font-weight: 700;
  color: #fff;
  line-height: 80%;
  background: linear-gradient(177deg, rgb(126, 32, 59) 30%, rgba(23, 20, 34, 0.1) 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.number-item__company-icons {
  margin-top: 40px;
}
.number-item__corel-draw {
  margin-top: 40px;
}

.fill-slider ~ .fill-slider {
  margin-top: 20px;
}

.company-icons {
  display: inline-flex;
  flex-direction: column;
  max-width: 885px;
}
.company-icons__subtitle {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 140%;
  text-align: right;
}
.company-icons-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}
.company-icons-item {
  flex: 1 1 50%;
  max-width: 268px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
}

.corel-draw {
  display: flex;
  gap: 80px;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}
.corel-draw__left {
  transform: rotate(-5deg);
}
.corel-draw__right {
  transform: rotate(5deg);
}

.knowledge {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 140px;
  position: relative;
}
.knowledge__circle {
  position: absolute;
  top: 60px;
  left: 58%;
}
.knowledge__circle::after, .knowledge__circle::before {
  z-index: 2;
  content: "";
  position: absolute;
  width: 130px;
  height: 67px;
  background-size: contain;
}
.knowledge__circle::after {
  bottom: -20px;
  right: 120%;
  background: url("../images/line-bottom-left.png") center no-repeat;
}
.knowledge__circle::before {
  bottom: -20px;
  left: 120%;
  background: url("../images/line-bottom-right.png") center no-repeat;
}
.knowledge-item__circle {
  margin: 0 auto;
  z-index: 1;
  position: relative;
  transform: translateY(10px);
}
.knowledge-list {
  align-items: flex-end;
  display: flex;
  gap: 18px;
}

.circle {
  width: 97px;
  height: 97px;
  padding: 22px;
  border-radius: 50%;
}
.circle-white {
  box-shadow: inset -4px -4px 6px 0px rgba(255, 255, 255, 0.5), -3px -3px 20px 0px rgba(255, 255, 255, 0.18), 10px 10px 20px 0px rgba(0, 0, 0, 0.8);
  background: linear-gradient(147.75deg, rgb(255, 255, 255) 30.803%, rgb(193, 192, 196) 57.129%, rgb(134, 132, 141) 72.924%, rgb(52, 49, 64) 82.702%);
}/*# sourceMappingURL=index.css.map */