@font-face {
    font-family: 'Abel';
    src: url('Abel-Regular.eot');
    src: local('Abel Regular'), local('Abel-Regular'),
        url('Abel-Regular.eot?#iefix') format('embedded-opentype'),
        url('Abel-Regular.woff2') format('woff2'),
        url('Abel-Regular.woff') format('woff'),
        url('Abel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

